@media print {
	.no-print {
		display: none !important;
	}
	.print {
		margin: 4em 0 0 0;
		-webkit-print-color-adjust: exact !important;
		print-color-adjust: exact !important;
		font-size: 1.1em !important;
	}
	.print > div > div {
		border-bottom: 1px solid rgba(108, 117, 125, 0.11);
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		color: black;
		page-break-after: always;
	}
	.print-title {
		position: fixed;
		top: 0;
		-webkit-print-color-adjust: exact !important;
		print-color-adjust: exact !important;
		font-size: 1.1em !important;
		display: table-header-group;
	}
}
